<div class="container">
<%= link_to "New Workout", new_workout_url, class: 'btn btn-primary' %>
<div class="row">
  <% @workouts.each do |workout| %>
  <div class="jumbotron">
    <div>_____<%= workout.exercise %>: <%= workout.total_reps %></div>_____
    <div>_____Date: <%= workout.created_at.strftime("%d %b. %Y") %></div>_____
  </div>
  <% end %>
</div>
  
</div>

