<div class="container">
<%= link_to "New Workout", new_workout_url, class: 'btn btn-primary' %>
<div class="row">
  <% @workouts.each do |workout| %>
  <div class="jumbotron">
    <p><%= workout.exercise %>: <%= workout.total_reps %></p>
    <p>Date: <%= workout.created_at.strftime("%d %b. %Y") %></p>
  </div>
  <% end %>
</div>
  
</div>

