<div class="container">
<%= link_to "New Workout", new_workout_url, class: 'btn btn-primary' %>
<div class="row">
  <% @user.workouts.each do |workout| %>
  <div class="jumbotron">
    <div><%= workout.exercise %>: <%= workout.total_reps %></div>
    <div>Date: <%= workout.created_at.strftime("%d %b. %Y") %></div>
  </div>
  <% end %>
</div>
  
</div>

