    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">


    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">New Workout</a></li>
          <li><a href="#">Progress</a></li>
          <li><a href="#">About</a></li>
	  <li><a href="#">Logout</a></li>
        </ul>
        <h3 class="text-muted">Tabata</h3>
      </div>

      <div class="jumbotron">
	<script>
var timer = setInterval("mytimer()",1000);
max_seconds = 20;
rest_seconds = 10;
seconds = max_seconds;
code = 0;
stop = 0;


function mytimer()
{
document.getElementById("div_timer").innerHTML = seconds; 
seconds--;
if (seconds == -1 && code == 0) {
  seconds = rest_seconds;
  code = 1
}

else if (seconds == -1 && code == 1) {
  seconds = max_seconds;
  code = 0;}
else if (stop==1) {

}

if (code==0) {
  document.getElementById("work_status").innerHTML="WORK";
  document.getElementById("work_status").style.color = "#FF0000";
}
else{
  document.getElementById("work_status").innerHTML="rest";
  document.getElementById("work_status").style.color = "#009933";
};

} 

 </script>
  
<h1 id="div_timer"></h1>
<span id="work_status"></span>
	<div class="">
	  <i class="icon-microphone"></i>
	</div>
	<br>
          <button type="button" class="btn btn-sm disabled">1</button>
          <button type="button" class="btn btn-sm disabled">2</button>
          <button type="button" class="btn btn-sm disabled">3</button>
          <button type="button" class="btn btn-sm disabled">4</button>
	  <button type="button" class="btn btn-sm disabled">5</button>
          <button type="button" class="btn btn-sm disabled">6</button>
          <button type="button" class="btn btn-sm disabled">7</button>
          <button type="button" class="btn btn-sm disabled">8</button>
      </div>

      

      <div class="footer">
        <p>&copy; Tabata 2013</p>
      </div>

    </div>




